<div class='container-fluid'>
	<div class='col-xs-3'></div>
	<div class='col-xs-6'>
		<div class='text-center'>
			<h1>
				<a ui-sref='root.home' style='color: inherit;'>
					<span class='glyphicon glyphicon-eye-open' />
				</a>
			</h1>
			<h2>Join Watchdog</h2>
			<br>
		</div>
		<div class='panel panel-default'>
			<form class='panel-body' ng-submit='vm.submit()'>
				<div class='form-group' ng-class='{"has-error": vm.errors.login}'>
					<label class='control-label'>Username</label>
					<input name='login' type='text' class='form-control'
						ng-model='vm.form.login'>
					<span class='help-block'>
						This will be you public username.
					</span>
					<span class='help-block' ng-repeat='err in vm.errors.login'>
						{{err}}
					</span>
				</div>
				<div class='form-group' ng-class='{"has-error": vm.errors.email}'>
					<label class='control-label'>Email</label>
					<input name='email' type='text' class='form-control'
						ng-model='vm.form.email'>
					<span class='help-block'>
						Will be used for password recovery and monitoring alerts.
						We promise not to share your email with anyone.
					</span>
					<span class='help-block' ng-repeat='err in vm.errors.email'>
						{{err}}
					</span>
				</div>
				<div class='form-group' ng-class='{"has-error": vm.errors.password1}'>
					<label class='control-label'>Password</label>
					<input name='password' type='password' class='form-control'
						ng-model='vm.form.password1'>
					<span class='help-block'>
						Must be at least 6 characters long.
					</span>
					<span class='help-block' ng-repeat='err in vm.errors.password1'>
						{{err}}
					</span>
				</div>
				<button type='submit' class='btn btn-primary' style='width: 100%'>
					Signin
				</button>
			</form>
		</div>
	</div>
</div>
