<div class='container-fluid'>
	<div class='col-xs-3'></div>
	<div class='col-xs-6' style='padding: 0 50px;'>
		<div class='text-center'>
			<h1>
				<a ui-sref='root.home' style='color: inherit;'>
					<span class='glyphicon glyphicon-eye-open' />
				</a>
			</h1>
			<h2>Goodbye!</h2>
			<br>
		</div>
		<div class='panel panel-default'>
			<div class='panel-body'>
				You have been signed out from Watchdog.
				<br>
				<br>
				<a class='btn btn-default' style='width: 100%' href='/'>
					Return to homepage</a>				
			</div>
		</div>
	</div>
</div>
