<div class='container'>
	<span class='pull-right'>
		<button class='btn btn-success' ng-click='vm.edit = !vm.edit' title='Edit site'>
			<span class='glyphicon glyphicon-pencil' />
		</button>
		&nbsp;
		<button class='btn btn-danger' ng-click='vm.removeSite()' title='Delete site'>
			<span class='glyphicon glyphicon-trash' />
		</button>
	</span>
	<h1>{{vm.site.name}}</h1>
	<a class='text-muted' href='{{vm.site.url}}'>{{vm.site.url}}</a>
	<br><br>

	<div ng-if='vm.edit'>
		<site-form site='vm.site' />
		<br><br>
	</div>

	<status status='vm.site.last_status' />
	<br>
	<div ng-if='vm.status && vm.status.results.length > 0'>
		<h3>Previous status</h3>
		<div class='panel-group'>
			<div class='panel panel-default' ng-repeat='status in vm.status.results' ng-class='{
				"panel-success":  status.is_ok,
				"panel-danger": !status.is_ok
			}'>
				<div class='panel-heading'>
					<site-status-icon status='status' />
					<a data-toggle='collapse' data-target='#{{status._id}}'>
						<site-status-string status='status' />
						<span class='text-muted'>
							@ {{ status.timestamp | date:"HH:mm:ss yyyy/MM/dd" }}
						</span>
					</a>
				</div>
				<div id='{{status._id}}' class='collapse'>
			    	<div class='panel-body'>
						<status status='status' />
					</div>
				</div>
			</div>
		</div>
		<div class='container text-center' ng-if='vm.status'>
			<ui-pagination pagination='vm.status'/>
		</div>
	</div>
</div>
