<div>
	<span ng-class='{
		"text-success": vm.status.is_ok,
		"text-danger": !vm.status.is_ok
	}'>
		<span class='glyphicon glyphicon-ok' ng-if='vm.status.is_ok' />
		<span class='glyphicon glyphicon-remove' ng-if='!vm.status.is_ok' />
		&nbsp;
		<b>
			{{vm.status.response_code}}
			-
			<span ng-if='vm.status.response_code < 100'>
				{{vm.status.response_body}}
			</span>
			<span ng-if='vm.status.response_code >= 100'>
				{{vm.translateStatus(vm.status.response_code)}}
			</span>
		</b>
	</span>
	<br>
	<span>
		<span class='glyphicon glyphicon-calendar' title='Check date' />
		&nbsp;
		checked at {{ vm.status.timestamp | date:"HH:mm:ss yyyy/MM/dd" }}
	</span>
	<br>
	<span>
		<span class='glyphicon glyphicon-time' />
		&nbsp;
		response time {{vm.status.response_time}}s
	</span>
	<br><br>

	<ul class='nav nav-tabs'>
		<li class='active' ng-if='vm.status.screencap'>
			<a data-target='#screencap' data-toggle='tab'>
				<span class='glyphicon glyphicon-camera' />&nbsp;
				Screencap
			</a>
		</li>
		<li ng-class='{active: !vm.status.screencap}'>
			<a data-target='#body' data-toggle='tab'>
				<span class='glyphicon glyphicon-console' />&nbsp;
				Body
			</a>
		</li>
	</ul>

	<div class='tab-content'>
		<div class='panel panel-default tab-pane active' id='screencap' ng-if='vm.status.screencap'>
			<img ng-src='/{{vm.status.screencap}}' style='width: 100%' />
		</div>
		<div class='tab-pane' id='body' ng-class='{active: !vm.status.screencap}'>
			<pre><code>{{vm.status.response_body}}</code></pre>
		</div>
	</div>
</div>
