<div>
	<span ng-class='{
		"text-success": vm.status.is_ok,
		"text-danger": !vm.status.is_ok
	}'>
		<span class='glyphicon glyphicon-ok' ng-if='vm.status.is_ok' />
		<span class='glyphicon glyphicon-remove' ng-if='!vm.status.is_ok' />
		&nbsp;
		<b>
			{{vm.status.response_code}}
			-
			{{vm.translateStatus(vm.status.response_code)}}
		</b>
	</span>
	<br>
	<span>
		<span class='glyphicon glyphicon-calendar' title='Check date' />
		&nbsp;
		checked at {{ vm.status.timestamp | date:"HH:mm:ss yyyy/MM/dd" }}
	</span>
	<br>
	<span>
		<span class='glyphicon glyphicon-time' />
		&nbsp;
		response time {{vm.status.response_time}}s
	</span>
	<br><br>

	<ul class='nav nav-tabs'>
		<li class='active'>
		</li>
		<li>
			<a data-target='#body' data-toggle='tab'>
				<span class='glyphicon glyphicon-console' />&nbsp;
				Body
			</a>
		</li>
	</ul>

	<div class='tab-content'>
	    <div class='tab-pane' id='body'>
			<pre><code>{{vm.status.response_body}}</code></pre>
		</div>
	</div>
</div>
